{% extends "buyer_base.html" %}
{% block content %}
{%load static%}
{%load cart%}
    <div class="shop-card-container">
        {% for Seller in Sellers_Data %}
            
        <img src="{{ Seller.banner.url}}" alt="Image" width="1250">
            
        <div class="shop-card">
            
                <img src="{{ Seller.logo.url}}" alt="Image" width="250">
            <div class="text">
                <hr>
                <h1>{{ Seller.seller_name }}</h1>
                <hr>
                <h2>{{ Seller.seller_description }}</h2>
            </div>
        </div>
        <div class="shop-card">
            <div class="text">
                <h2>Our Details</h2>
                <hr>
                <h3>GSTIN Number: {{ Seller.gstin }}</h3>
                <hr>
                <h3>Contact Us : </h3>
                <hr>
                <h3>Email : {{ Seller.email }}</h3>
                <h3>Phone Number : {{ Seller.contact }}</h3>
                <h3>Address : {{ Seller.address }}</h3>
                <hr>
                <h3>Thanks for Visiting Us</h3>
            </div>
        </div>
    </div>
    <h1>Our Products</h1>
    <div class="product-card-container">
        {% for Product in Product_Data %}
            <div class="product-card" id={{Product.id}}>
                <img src="{{ Product.product_img.url}}" alt="Image" width="250"><hr>
                <h3>{{ Product.product_name }}</h3><hr>
                <h3>Price : Rs. {{ Product.product_price }}</h3>
                <a href="/buyer/{{Product.id}}"><button>View Product</button></a>
            
                <div class="card-footer">
                    {% if Product|is_in_cart:request.session.cart %}
                        <form action="/shops/{{Seller.id}}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name='Product' value="{{ Product.id }}"></input>
                            <input hidden type="number" name='remove' value='-1'></input>
                            <input type="submit" value=" - " class="col-2 btn btn-block btn-secondary"></input>    
                        </form>                
                        <div class="text-center col">{{Product|cart_quantity:request.session.cart}} In Cart</div>
                        <form action="/shops/{{Seller.id}}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name='Product' value="{{ Product.id }}"></input>
                            <input type="submit" value=" + " class="col-2 btn btn-block btn-secondary"></input>    
                        </form>
                    
                    {% else %}
                    <form action="/shops/{{Seller.id}}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name='Product' value="{{ Product.id }}"></input>
                        <input type="submit" value="Add To Cart"></input>
                    </form> 
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        {%endfor%}
        {% endblock %}