{% extends "buyer_base.html" %}
{% block content %}
{%load static%}
{%load cart%}
    <h1> All Shops</h1>
    <div class="shop-card-container">
        {% for Seller in Sellers_Data %}
        <div class="shop-card">
            <img src="{{ Seller.logo.url}}" alt="Image" width="250">
            <div class="text">
                <h2>{{ Seller.seller_name }}</h2>
                <hr>
                <h3>{{ Seller.seller_description }}</h3>
                
                <a href="/shops/{{ Seller.id }}"><button>View Shop</button></a>
            </div>
        </div>
    
        {% endfor %}
    </div>
        {% endblock %}
